.buscador {
  float: right;
  margin-bottom: 30px;
}
.title {
  text-align: center;
}
a:visited {
  color: grey;
}

.promos {
  color: red;
}
.list{
    margin-left: 40px;
}

ul{
    position: absolute;
    font-size: large;
}






